# Berlin Rents
I scraped a data set from Immoscout with rental offers in Berlin. The data set is similar enough to the house price data set, so that we can do a very similar analysis.

In [1]:
import sys
sys.path.append('../src/')

import numpy as np
import pandas as pd
import pymc3 as pm
import arviz as az
import theano
import matplotlib.pyplot as plt

from utils.data_utils import load_data, standardize_area, map_zip_codes
from utils.plot_utils import set_plot_defaults, plot_pred_hist

WARNING (theano.tensor.blas): Using NumPy C-API based implementation for BLAS functions.
/home/corrie/.pyenv/versions/anaconda3-2019.03/lib/python3.7/site-packages/xarray/core/merge.py:17: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  PANDAS_TYPES = (pd.Series, pd.DataFrame, pd.Panel)

In [2]:
set_plot_defaults(font="Roboto")
d, zip_lookup, num_zip_codes = load_data(kind="rents")
zip_codes = np.sort(d.zip.unique())

target = "rent_s"

In [3]:
d

,zip,rent,rent_s,log_rent,log_rent_s,sqm_rent,log_sqm_rent,log_sqm_rent_s,living_space,living_space_s,offer_year,const_year,const_year_s,flattype,interior_qual,zip_code
59,12103,941.00,9.4100,6.846943,-0.037463,30.354839,3.412956,2.350673,31.00,-1.145711,2019,2019.0,1.152406,NaN,NaN,84
75,14109,1399.70,13.9970,7.244013,0.651780,16.999028,2.833156,0.728184,82.34,-0.002587,2019,1920.0,-0.933787,apartment,sophisticated,199
84,13086,830.00,8.3000,6.721426,-0.255338,8.251317,2.110373,-1.294424,100.59,0.403763,2019,1912.0,-1.102368,ground_floor,normal,148
86,10785,3417.60,34.1760,8.136694,2.201314,16.000000,2.772589,0.558695,213.60,2.920016,2019,2018.0,1.131333,penthouse,sophisticated,55
136,12057,490.00,4.9000,6.194405,-1.170151,10.000000,2.302585,-0.756545,49.00,-0.744927,2019,1972.0,0.161991,apartment,normal,79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198228,10997,1170.00,11.7000,7.064759,0.340627,18.465909,2.915926,0.959805,63.36,-0.425191,2019,1905.0,-1.249877,apartment,NaN,69
198281,10367,378.95,3.7895,5.937404,-1.616259,11.000000,2.397895,-0.489833,34.45,-1.068894,2018,1975.0,0.225209,apartment,NaN,19
198298,12559,579.00,5.7900,6.361302,-0.880448,9.650000,2.266958,-0.856243,60.00,-0.500004,2019,1997.0,0.688807,apartment,normal,129
198318,10557,1748.00,17.4800,7.466228,1.037504,18.400000,2.912351,0.949799,95.00,0.279297,2019,2019.0,1.152406,ground_floor,sophisticated,31
198361,12167,1380.00,13.8000,7.229839,0.627176,18.648649,2.925774,0.987362,74.00,-0.188283,2019,NaN,NaN,ground_floor,sophisticated,93